{{ define "navbar" }}
    <nav class="navbar">
        <h1 class="navbar-title"> 307 <span class="colored-text"> ++ </span> Printer </h1>
        <div class="navbar-desktop-links">
            {{ template "links" }}
        </div>

        <div class="links-menu">
            <input type="checkbox" class="links-button">
            <div class="links-menu-bar"></div>
            <div class="links-menu-bar"></div>
            <div class="links-menu-bar"></div>
            <div class="links">
                {{ template "links" }}
            </div>
       </div>
    </nav>
    <script src="../js/main.js"></script>
{{ end }}
