{{ define "main" }}
    <main class="main">
        <h1> Profile </h1>
        <div>
            <div class="info-section">
                <h2> User Info </h2>
                <!-- <p> {{ .User }} </p> -->
                <p> Name {{ .User.Name }} </p>
                <p> Email {{ .User.Email }} </p>
                <p> Role {{ .User.Role }} </p>
                <p> CanUsePrinter {{ .User.CanUsePrinter }} </p>
            </div>
            <div>
                <h2> Files printed by the user </h2>
                <div>
                    <h3> Current Jobs </h3>
                    <div class="job">
                        <div class="job-description"></div>
                        <button class="cancel-job-button"></button>
                    </div>
                </div>
                <div>
                    <h3> Old Jobs </h3>
                    {{ range .Prints }}
                        <p> {{ . }} </p>
                    {{ end }}
                </div>
            </div>
        </div>
        <div>
        </div>
    </main>
{{ end }}
