{{ define "main" }}
    <main class="main">
        <div class="form-container">
            <h1 class="form-title"> Sign Up </h1>
            <form action="{{ .Endpoints.SignUpPage }}" method="post" class="form">
                {{ range .FlashMessages }}
                    <p> {{ . }} </p>
                {{ end }}
                <div class="form-fields">
                    <div class="form-field">
                        <label for="username"> Username </label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="form-field">
                        <label for="email"> Email </label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-field">
                        <label for="password"> Password </label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="form-field">
                        <label for="repeatPassword"> Repeat Password </label>
                        <input type="password" name="repeatPassword" id="repeatPassword" required>
                    </div>
                </div>
                <input type="submit" class="form-submit-button" class="Submit" value="Sign Up">
            </form>
        </div>
    </main>
{{ end }}