{{ define "main" }}
    <main>
        {{ range .Users }}
        <div class="user">
            <div class="user-info">
                <p> {{ .Name }}</p>
                <p> {{ .Email }}</p>
            </div>
            <div class="user-controls">
                <button> Ban User </button>
                <div>
                    <p>Change Monthly Page Limit</p>
                    <form action="">
                        <div>
                            <label for="numberOfPages"></label>
                            <input type="number" name="numberOfPages" id="numberOfPages">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{ end }}
    </main>
{{ end }}
