.footer {
    height: var(--footer-height);
    padding: 0 var(--content-side-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: 18px;
    background-color: darkslategray;
}
