.form-container {
    max-height: 600px;
    height: fit-content;
    min-height: 340px;
    width: 30%;
    width: 330px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border-radius: 30px;
    background-color: darkcyan;
}

.form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form-title {
    margin: auto;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
  width: 100%;
}

input {
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px;
}

input[type="file"] {
    padding: 5px 0; 
    display: inline-block;
    cursor: pointer;
}

input[type="submit"] {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: yellowgreen;
}